{% extends 'base.html' %}

{% load catalogue_navigation %}
{% show_navigation_sidebar %}

  
  {% block title %}Catalogue{% endblock %}
  
{% block page_name %}Liste des catégories{% endblock %}


{% block content %}


    {% if categories %}

	
	{% for category in categories %}

        <div class="col-md-3">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-black" style="background: url('{{category.image.url}}') center center;">
              
              
            </div>
            
            <div class="box-footer">
              <div class="category-desc">
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
              </div>  

              
            </div>
          </div>
          <!-- /.widget-user -->
        </div>

		
	{% endfor %}
	
{% else %}
		Aucune catégorie
{% endif %}

{% endblock %}